.userList {
    min-height: 90vh;
    background-color: white;
}

.myUser {
    background-color: white;
    display: flex;
    padding:  1em 1.5em;
    width: 20vw;
    
}
.dp {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    object-fit: cover;
    overflow: hidden;
}