.container {
  background-color: #edf1f4;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 0.5em;
  border-bottom: 1px solid #d8d7d7;
}

.userInfo {
  display: flex;
  flex-direction: row;
}

.profileIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  object-fit: cover;
}

.username {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1em;
  text-transform: capitalize;
}

.actions {
  margin-right: 0.4em;
  cursor: pointer;
}

.icon {
  margin: 0 0.6em;
}
