.home {
  background-color: #1b4faf;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userList {
  min-height: 90vh;
  background-color: white;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;

}

.myUser {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 1em 1.5em;
  width: 20vw;
  align-items: center;
  border-top-left-radius: 0.5em;
  justify-content: space-between;
}
.iconsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  transition: linear 200ms;
  margin: 0 0.2em;
}

.icon:hover {
  transform: translateY(-4px);
  margin: 0 0.2em;
  cursor: pointer;
}

.content {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 2em;
}
