.home {
    background-color: #1B4FAF;
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 2em;
   
}